:root {
  --dark-pink-color:#D41443;
  --light-pink-color: #FFA5BA;
  --primary-white-color: #ffffff;
  --product-pink-color: #FFB8CA;
  --product-creamy-color: #F0D1A5;
  --product-green-color: #C2E297;
  --primary-black-color: #000000;
  --text-gray-color: #907E82;
  --product-bg-color: #E5E5E5;
  --howitsmade-bg-color: #FFF5F6;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

.footer, .contacts, .reviews, .advantages-gallery, .about, .modal, .hero, .header {
  font-family: "Titan One", cursive;
}

html {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 16px;
    padding-left: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  transition: color var(--duration) var(--timing-function);
}

ul, ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.header {
  color: var(--dark-pink-color);
}

.hero {
  color: var(--dark-pink-color);
}

.modal {
  color: var(--dark-pink-color);
}

.about__product {
  padding-top: 80px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 148px;
}

.about__product-pre-title {
  font-family: "Titan One";
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-pink-color);
  margin-top: 0;
  margin-bottom: 15px;
}

.about__product-title {
  font-family: "Titan One";
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--dark-pink-color);
  margin-top: 0;
  margin-bottom: 8px;
}

.about__product-gallery {
  margin-top: 0 auto;
}

.about__product-item {
  margin-bottom: 0;
}

.about__product-list {
  position: relative;
  background-color: var(--product-pink-color);
  border-radius: 24px;
  padding-bottom: 40px;
}

.about__product-name {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  padding: 160px 53px 32px 53px;
  margin-top: 0;
}

.about__product-scroll-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  padding: 0;
}

.about__product-offer {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  max-width: 206;
  text-align: center;
  letter-spacing: 0.04em;
  margin: 0 40px 32px 40px;
}

.about__product-dots {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.about__product-dots-decor {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
}
.about__product-dots-decor:not(:last-child) {
  margin-right: 4px;
}

.about__product-list-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about__product-thumb {
  position: absolute;
  left: 20px;
  bottom: 30px;
  width: 280px;
  height: 280px;
}

.about__product-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--product-pink-color);
}

.about {
  color: var(--dark-pink-color);
}

.advantages-gallery {
  color: var(--dark-pink-color);
}

.reviews {
  color: var(--dark-pink-color);
}

.contacts {
  color: var(--dark-pink-color);
}

.footer {
  color: var(--dark-pink-color);
}/*# sourceMappingURL=main.css.map */