header {
  background-color: var(--product-pink-color);
  padding-top: 8px;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

/*  ----- Mobile Menu ----- */

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  overflow-y: scroll;
  background-color: var(--mobile-menu-bg-color);

  opacity: 1;
}

.mobile-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
}

.button-buy {
  width: 209px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

// .button-buy::after {
//   content: '';
//   display: inline-block;
//   width: 8px;
//   height: 5.68px;
//   background-color: transparent;
//   background-image: url('./images/btn-arrow.svg');
//   background-size: contain;
//   --color1: var(--dark-pink-color);
// }

.button-icon {
  --color1: var(--dark-pink-color);
}

.menu-open-btn,
.menu-close-btn {
  display: block;
  background-color: transparent;
  padding: 0;
}

.menu-close-btn {
  margin: 20px 20px 26px auto;
}

.icon-menu,
.icon-cross {
  color: currentColor;
}

.menu-open-btn:hover .icon-menu,
.menu-open-btn:focus .icon-menu {
  fill: var(--dark-pink-color);
}

.menu-close-btn:hover .icon-cross,
.menu-close-btn:focus .icon-cross {
  fill: var(--dark-pink-color);
}

.menu-nav__item {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 12px 20px 12px 20px;
  border: solid var(--mobile-menu-border-color);
  border-width: 1px 0 0 0;
  // border: 1px solid var(--mobile-menu-border-color);
}
.menu-nav__item:last-child {
  border: solid var(--mobile-menu-border-color);
  border-width: 1px 0 1px 0;
}

.menu-nav__link {
  @include font-set(14px, 700, 1.29);
  color: var(--primary-white-color);
}
