.advantages {
  padding-top: 0;
  padding-bottom: 80px;
  background-color: var(--howitsmade-bg-color);
  &__list,
  &__item {
    text-align: left;
  }
}
.advantages__item {
  max-width: 230px;
  margin-bottom: 38px;
  &:first-child::before {
    content: url('/images/mobile/mob-udder-bucket-1x.png');
    display: inline-block;
  }
  &:nth-child(2)::before {
    content: url('/images/mobile/mob-apple-bucket-1x.png');
  }
  &:last-child::before {
    content: url('/images/mobile/mob-heart-1x.png');
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    &:first-child::before {
      content: '';
      display: block;
      width: 33px;
      height: 50px;
      background-size: contain;
      background-image: url('/images/mobile/mob-udder-bucket-2x.png');
    }
    &:nth-child(2)::before {
      content: '';
      display: block;
      width: 50px;
      height: 50px;
      background-size: contain;
      background-image: url('/images/mobile/mob-apple-bucket-2x.png');
    }
    &:last-child::before {
      content: '';
      display: block;
      width: 44px;
      height: 50px;
      background-size: contain;
      background-image: url('/images/mobile/mob-heart-2x.png');
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.advantages__number {
  @extend %secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--dark-pink-color);
  margin-top: 16px;
  margin-bottom: 16px;
  transition: transform 250ms var(--timing-function);
  &:hover {
    transform: scale(1.1);
  }
}

.advantages__text {
  @include font-set(12px, 700, 1.7);
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
  margin: 0;
}
.gallery {
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  height: 100%;
  //   background: linear-gradient(180deg, #fff5f6 40%, #fff 0);
  background-image: url('/images/mobile/mob-gallery-1x.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
