<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <section class="about container">

    <p class="about-text">tradition and love</p>
    <h2 class="about-name">how it’s made?</h2>
    <img class="about-img" src="" alt="Корова і молоко">

    <ul  class="about-list">

        <li class="about-list__item">
            <p class="about-list__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
        Maecenas eleifend erat at justo fringilla.</p>
    </li>

        <li class="about-list__item--another">
            <p class="about-list__desc">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
            
               Aliquam erat volutpat. Aenean accumsan.
            </p>

        </li>

    </ul>
    <button type="button" class="about-btn">Read more
        <!-- <svg>
        <use></use>
        </svg> -->
    </button>
    </section>
</body>
</html>