<footer class="footer">
    <div class="container footer__container">
        <section>
                <ul class="footer__button--list">
                    <li class="footer__button--item">
                    <button type="button" class="footer__button--location">Our Location</button>
                    </li>
                    <li class="footer__button--item">
                    <button type="button" class="footer__button--franchise">Franchise</button>
                </li>
                </ul>

                <p class="footer__title">homemade ice cream</p>
                <p class="footer__subtitle">made with passion</p>

                <ul class="footer__social--list list">
                    <li class="footer__cocial--item">
                        <svg class="footer__cocial--logo" width="19" height="19">
                            <use href="images/symbol-defs.svg#icon-github"></use>
                        </svg>
                    </li>
                    <li class="footer__cocial--item">
                        <svg class="footer__cocial--logo" width="19.2" height="14.93">
                            <use href="images/symbol-defs.svg#icon-telegram"></use>
                        </svg>
                    </li>
                    <li class="footer__cocial--item">
                        <svg class="footer__cocial--logo" width="9" height="19">
                            <use href="images/symbol-defs.svg#icon-facebook"></use>
                        </svg>
                    </li>
                </ul>
                <div class="footer__tel--link">
                    <a href="tel:+61(0)383766284" class="footer__tel">Feel free to contact<span class="footer__tel--number">+61 (0) 383 766 284</span></a>
                </div>  
           
    </div>
        <p class="footer__copyright">&#169; 2019 - Ice Cream.
            All Rights Reserved. </p>
        </section>
   
  </footer>