<footer class="footer">
    <div class="container">
        <section>
        <ul class="footer__button--list">
            <li class="footer__button--item">
            <button type="button" class="footer__button--location">Our Location</button>
            </li>
            <li class="footer__button--item">
            <button type="button" class="footer__button--franchise">Franchise</button>
        </li>
        </ul>

        <p class="footer__title">homemade ice cream</p>
        <p class="footer__subtitle">made with passion</p>

        <ul class="footer__social--list list">
            <li class="footer__cocial--item">
                <svg>
                    <use></use>
                </svg>
            </li>
        </ul>
        </section>
    </div>
  </footer>