<section class="products section">
    <div class="container">
        <p class="products__pre-title">
            100% natural
        </p>
        <h2 class="products__title">products</h2>
                <ul class="proucts__gallery list">
                    <li class="proucts__item">
                        <div class="about__product">
                            <picture>
                                <source srcset="i 1x,
                                                        ./images/ice/desk-ice1-2x.png 2x" media="(min-width:1200px)" />
                                <source srcset="./images/ice/tab-ice1-1x.jpeg 1x,
                                                        ./images/ice/tab-ice1-2x.jpeg 2x" media="(min-width:768px)" />
                                <source srcset="i 1x,
                                                        images/mob-icestrawberry-2x.png 2x" media="(min-width:480px)" />
                                <img src="" alt="ice cream" />
                            </picture>
                            <h3 class="products__name">ice cream</h3>
                            <p class="about__product-offer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et</p>
                        </div>
                        <div class="product__button">
                            <button type="button" class="about__product-btn">
                                <svg class="contacts__menu-open-icon" width="38.21" height="40">
                                    <use href=""></use>
                                </svg></button>
                        </div>
                        </a>
                    </li>